[Desktop Entry]
Type=Application
Exec=openmvide %F
Name=OpenMV IDE
GenericName=The IDE of choice for OpenMV Cam Development.
X-KDE-StartupNotify=true
Icon=OpenMV-openmvide
StartupWMClass=openmvide
Terminal=false
Categories=Development;IDE;OpenMV;
MimeType=text/x-python;
