<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Python Script</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.python-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>py</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-python-script</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>com.apple.nspboard-type</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>(C) ${IDE_COPYRIGHT_YEAR} ${IDE_AUTHOR}</string>
	<key>CFBundleIconFile</key>
	<string>openmv</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>${IDE_APP_TARGET}</string>
	<key>CFBundleIdentifier</key>
	<string>${IDE_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleVersion</key>
	<string>${IDE_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${IDE_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
</dict>
</plist>
